<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- 三种引入方式 -->
{#    <link rel="stylesheet" href="../static/index.css" />#}
{#    <link rel="stylesheet" href="/static/index.css" />#}
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}" />
    <title>你好世界</title>
</head>
<body>
    <h1>hello world! {{ name }}</h1>
    <h4>how are you</h4>
</body>
</html>